.header-position {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0;
}

.links-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.logo {
  width: 6rem;
  height: 2.5rem;
  margin: 0 auto;
}

.hamburger-icon {
  display: none;
  font-size: 1.5rem;
}

@media only screen and (max-width: 425px) {
  .links-container {
    display: none;
  }

  .logo {
    margin: 0;
  }

  .header-container {
    justify-content: space-between;
  }

  .hamburger-icon {
    display: block;
  }
}
