.text-align {
  text-align: center;
}

.info-container {
  background-image: linear-gradient(to right, #3f51b5, #64b5f6);
  color: white;
  padding-bottom: 8.5rem;
}

.mobile-view {
  display: none;
}

.arrow-icon {
  font-size: 1.2rem;
}

h2 {
  margin: 0;
}

h4 {
  margin: 0;
}

section .pt-2rem {
  padding-top: 2rem;
}

@media only screen and (max-width: 425px) {
  .mobile-view {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    width: 95%;
    margin: 0 auto;
  }

  section .pt-2rem {
    display: none;
  }
}
